###############################################################################
# International Holiday Data provided by Holidata.net
# http://holidata.net/en-US/2013.json
#
# Copyright 2006-2012, Paul Beckingham, Federico Hernandez.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# http://www.opensource.org/licenses/mit-license.php
#
###############################################################################

holiday.zh-CN1.name=元旦
holiday.zh-CN1.date=20130101
holiday.zh-CN2.name=元旦
holiday.zh-CN2.date=20130102
holiday.zh-CN3.name=元旦
holiday.zh-CN3.date=20130103
holiday.zh-CN4.name=春节
holiday.zh-CN4.date=20130209
holiday.zh-CN5.name=春节
holiday.zh-CN5.date=20130210
holiday.zh-CN6.name=春节
holiday.zh-CN6.date=20130211
holiday.zh-CN7.name=春节
holiday.zh-CN7.date=20130212
holiday.zh-CN8.name=春节
holiday.zh-CN8.date=20130213
holiday.zh-CN9.name=春节
holiday.zh-CN9.date=20130214
holiday.zh-CN10.name=春节
holiday.zh-CN10.date=20130215
holiday.zh-CN11.name=清明节
holiday.zh-CN11.date=20130404
holiday.zh-CN12.name=清明节
holiday.zh-CN12.date=20130405
holiday.zh-CN13.name=清明节
holiday.zh-CN13.date=20130406
holiday.zh-CN14.name=劳动节
holiday.zh-CN14.date=20130429
holiday.zh-CN15.name=劳动节
holiday.zh-CN15.date=20130430
holiday.zh-CN16.name=劳动节
holiday.zh-CN16.date=20130501
holiday.zh-CN17.name=端午节
holiday.zh-CN17.date=20130610
holiday.zh-CN18.name=端午节
holiday.zh-CN18.date=20130611
holiday.zh-CN19.name=端午节
holiday.zh-CN19.date=20130612
holiday.zh-CN20.name=中秋节
holiday.zh-CN20.date=20130919
holiday.zh-CN21.name=中秋节
holiday.zh-CN21.date=20130920
holiday.zh-CN22.name=中秋节
holiday.zh-CN22.date=20130921
holiday.zh-CN23.name=国庆节
holiday.zh-CN23.date=20131001
holiday.zh-CN24.name=国庆节
holiday.zh-CN24.date=20131002
holiday.zh-CN25.name=国庆节
holiday.zh-CN25.date=20131003
holiday.zh-CN26.name=国庆节
holiday.zh-CN26.date=20131004
holiday.zh-CN27.name=国庆节
holiday.zh-CN27.date=20131005
holiday.zh-CN28.name=国庆节
holiday.zh-CN28.date=20131006
holiday.zh-CN29.name=国庆节
holiday.zh-CN29.date=20131007